{% extends 'base.html.twig' %}

{% block title %}FestiNB | Homepage {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage_slider_scss') }}
    {{ encore_entry_link_tags('homepage_search_bar_scss') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('homepage_slider_js') }}
{% endblock %}
{% block content %}
    {% macro searchBar() %}
        <div class="search-bar">
            <h2>Recherche ton festival</h2>
            <div class="search-bar__inputs">
                <input type="text" class="input input__small search-bar__input" placeholder="Ville">
                <input type="text" class="input input__small search-bar__input" placeholder="Date de début">
                <input type="text" class="input input__small search-bar__input" placeholder="Date de fin">
                <input type="submit" value="Go!" class="btn btn__small">
            </div>
        </div>
    {% endmacro %}
    <div class="swiper js-homepage-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide__first">{{ _self.searchBar() }}</div>
            <div class="swiper-slide swiper-slide__second">{{ _self.searchBar() }}</div>
            <div class="swiper-slide swiper-slide__third">{{ _self.searchBar() }}</div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
{% endblock %}
