{% extends 'base.html.twig' %}

{% block title %} Festinb | Festival {{ festival.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('festivals_scss') }}
    {{ encore_entry_link_tags('festival_scss') }}
{% endblock %}

{% block content %}
    {% include 'components/festival/banner_title.html.twig' with {'title' : festival.name, 'image' : festival.image } %}
    <div class="useful-width">
        <div class="festival__container">
            <div class="festival__navigation">
                <section class="festival__section">
                    <h2 class="festival__section--title">Informations</h2>
                    <ul class="festival__section--text">
                        <li>{{ festival.begin_at|date('d/m') }} au {{ festival.end_at|date('d/m/Y') }}</li>
                        <li>{{ festival.city }} | {{ festival.country }}</li>
                        <li></li>
                    </ul>
                </section>
                <section class="festival__section">
                    <h2 class="festival__section--title">Description</h2>
                    <p class="festival__section--text"> {{ festival.description }}</p>
                </section>
                <section class="festival__section">
                    <h2 class="festival__section--title">FestiPass</h2>
                    <div class="festival__section--text">
                        {% for ticket in festival.tickets %}
                        <div class="festival__card js-ticket" data-uuid="{{ ticket.uuid }}">
                            <img src="https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
                            <div class="festival__card--description">
                                <h3 class="festival__card--title">{{ ticket.title|capitalize }}</h3>
                                <div class="festival__card--subtitle">{{ ticket.startDate|date('d') }} au {{ ticket.endDate|date('d') }}/{{ ticket.startDate|date('m') }}/{{ ticket.startDate|date('Y') }}</div>
                                <div class="festival__card--quantity">
{#                                        <i class="fa-solid fa-minus js-quantity-minus"></i>#}
                                        <input type="number" name="quantity" id="quantity" class="js-ticket-quantity" value="1" min="1">
{#                                        <i class="fa-solid fa-plus js-quantity-plus"></i>#}
                                </div>
                                <div class="festival__card--artists">
                                    <ul>
                                        <li>Niska</li>
                                        <li>Shay</li>
                                        <li>SCH</li>
                                        <li>Ninho</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="festival__card--buy">
                                <span class="festival__card--price">{{ ticket.price|number_format(2, '.', ',')}}€</span>
                                <button  class="festival__card--add-to-cart js-add-to-cart">Réserver</button>
                            </div>
                        </div>
                        {% endfor %}
                        {% if festival.tickets is empty %}
                            <p>Aucun billets n'est disponible pour ce festival actuellement.</p>
                        {% endif %}
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}