{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cart_front_scss') }}
{% endblock %}



{% block content %}
<h1>Panier</h1>

<div class="useful-width">
    <div class="container_card">

        <div class="container_card__item">
                <li><img src="{{asset('assets/images/LOGO.png')}}" width="100px"></img></li>
                <li><a href="#">Festival de Dour</a></li>
                <li><a href="#">Quantité</a><input type="number" id="quantity" name="quantity" min="1" max="5"></li> 
                <li><a href="#">35,00 €</a></li>
                <input type="button" id="delete" value="Suprimer" >
        </div>

        <div class="container_card__item">
                <li><img src="{{asset('assets/images/LOGO.png')}}" width="100px"></img></li>
                <li><a href="#">Festival de Dour</a></li>
                <li><a href="#">Quantité</a><input type="number" id="quantity" name="quantity" min="1" max="5"></li> 
                <li><a href="#">35,00 €</a></li>
                <input type="button" id="delete" value="Suprimer" >
        </div>

        <div class="container_card__item">
                <li><img src="{{asset('assets/images/LOGO.png')}}" width="100px"></img></li>
                <li><a href="#">Festival de Dour</a></li>
                <li><a href="#">Quantité</a><input type="number" id="quantity" name="quantity" min="1" max="5"></li> 
                <li><a href="#">35,00 €</a></li>
                <input type="button" id="delete" value="Suprimer" >
        </div>

        <div class="container_card__itemPrice">
            <div class="container_card__itemPrice--price">
                <li><a href="#">Total</a></li>
                <li><a href="#">145,56 €</a></li>
            </div>
            <input type="button" id="valid" value="valider" >
        </div>

    </div>
</div>
{% endblock %}
