{% extends 'back/base.html.twig' %}

{% block title %}Admin | Festivals{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('listing') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
<main>
    <div class="useful-width useful-width__white-background">
        <div class="listing">
            <h1>Tous les festivals</h1>
            <a href="{{ path('app_back_festival_create') }}" class="btn--dashboard">Ajouter</a>
        </div>
        <table id="datatable" class="display">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Ville</th>
                    <th>Pays</th>
                    <th>Créé le</th>
                    <th>Mis à jour le</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for festival in festivals %}
                <tr>
                    <td>{{ festival.name }}</td>
                    <td>{{ festival.begin_at|date('d/m/Y') }}</td>
                    <td>{{ festival.end_at|date('d/m/Y') }}</td>
                    <td>{{ festival.city }}</td>
                    <td>{{ festival.country }}</td>
                    <td>{{ festival.created_at|date('d/m/Y') }}</td>
                    <td>{{ festival.updated_at|date('d/m/Y') }}</td>
                    <td>
                        <a href=""><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href=""><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}