{% extends 'base.html.twig' %}

{% block title %}Festinb | Mot de passe oublié {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('forgot_password_scss') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="forgot-password__wrapper--send-email">
        <div class="forgot-password__title">
            <div class="forgot-password__title--forgot-password">Email Envoyé</div>
        </div>
        <div class="forgot-password__container">
            <div>
                <div>
                    <p>
                        Si un compte correspond à l'adresse mail indiqué un mail sera envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
                        Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle','fr') }}.
                    </p>
                    <p>Si vous ne recevez pas d'e-mail, veuillez vérifier le dossier spam ou <a href="{{ path('app_front_forgot_password_request') }}">renvoyer le mail</a>.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
