{% extends 'back/base.html.twig' %}

{% block content %}
    <main>
        <div class="useful-width useful-width__white-background">
            <div class="form">
                <h1>Ajout d'un nouveau partenaire</h1>
                {{ form_start(form) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.firstname) }}
                {{ form_row(form.email) }}
{#                {{ form_row(form.roles) }}#}
                <input type="submit" class="btn btn--dashboard btn--medium" value="Enregistrer">
                {{ form_end(form) }}
            </div>
        </div>
    </main>
{% endblock %}