{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Ajout d'un nouveau ticket</h1>
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.start_date) }}
    {{ form_row(form.end_date) }}
    {{ form_row(form.price) }}
    {{ form_row(form.description) }}
    <input type="submit" class="btn btn-primary" value="Enregistrer">
    {{ form_end(form) }}
    </div>
{% endblock %}